.img {
    max-width: 35%;
    min-width: 200px;
    border-radius: 20%;
    height: auto;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    margin-bottom: 20px;
}

.inicio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.inicio-conteudo {
    min-width: 300px;
    flex: 1;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.title {
    margin-bottom: 20px;
    display: block;
}

li {
    font-size: 25px;
}

.exp {
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}