.container {
    display: flex;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: honeydew;
    align-items: center;
    justify-content: center;
}

.btn {
    margin-bottom: 5px;
    margin-right: 8px;
    height: 50px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

@media(min-width: 435px) {
    .title {
        min-height: 45px;
        min-width: 422px;
    }
}

@media(max-width: 435px) {
    .title {
        min-height: 3em;
        min-width: 89%;
    }
}