{% load static %}
<div class="container inicio">
        <img src="{% static 'imgs/foto.jpg' %}" class='img' alt="imagem de perfil"></img>
        <div class="inicio-conteudo">
            <ul>
                <li> Graduado em <strong>Engenharia de Controle e Automação</strong> pelo Instituto Federal de Goiás.</li>
                <li> Mestre em <strong>Tecnologia de Processos Sustentáveis</strong>.</li>
                <li> Desenvolvedor de software <strong>há mais de 4 anos</strong>.</li>
                <li> <strong>Quatro softwares registrados</strong> no INPI na linguagem Matlab.</li>
                <li> Desenvolvedor <strong>Full Stack</strong>.</li>
                <li> Aberto para oportunidades em todo o <strong>Brasil</strong>.</li>
                <li> Fluente em <strong>inglês</strong>.</li>
            </ul>
        </div>
</div>
<hr>
<div class="container professional">
</div>