{% load static %}
<div class="container">
    <div class="inicio">
        <img src="{% static 'imgs/foto.jpg' %}" class='img' alt="imagem de perfil"></img>
        <div class="inicio-conteudo">
            <ul>
                <li> Graduado em Engenharia de Controle e Automação pelo Instituto Federal de Goiás.</li>
                <li> Mestre em Tecnologia de Processos Sustentáveis.</li>
                <li> Desenvolvedor de software há mais de 4 anos.</li>
                <li> Conhecimento em desenvolvimento web Full Stack.</li>
            </ul>
        </div>
    </div>
</div>
<hr>
<div class="container">
</div>