{% load static%}
<link
      rel="stylesheet"
      type="text/css"
      href="{% static 'header.css' %}"
    />
<div class='container'>
    <div class='name'> <h2>Airon Herbert Moreira Stach</h2> </div>
    <div class='buttons'>
        <button type="button" class="btn btn-dark">Início</button>
        <button type="button" class="btn btn-dark">Formação</button>
        <button type="button" class="btn btn-dark">Experiências Profissionais</button>
        <button type="button" class="btn btn-dark">Portfólio</button>
        <button type="button" class="btn btn-dark">Hobbies</button>
    </div>
</div>