<div class='container fixed'>
    <div class='name title center'> <h2>Airon Herbert Moreira Stach</h2> </div>
    <div class='buttons'>
        <a href='#exps'><button type="button" class="btn btn-dark">Experiências Profissionais</button></a>
        <a href='#projects'><button type="button" class="btn btn-dark">Projetos</button></a>
        <a href='#skills'><button type="button" class="btn btn-dark">Habilidades</button></a>
        <a href='#contact'><button type="button" class="btn btn-dark">Contato</button></a>
    </div>
</div>